// Variables declaration
$clr-white: #ffffff;
$clr-transparent-white-main: #ffffffbf;
$clr-transparent-white-paragraph: #ffffff99;
$clr-dark-blue: #090b1a;
$clr-desaturated-blue: #1b1938;
$clr-soft-violet: #aa5cdb;
// Fonts
@font-face {
	font-family: "Inter";
	src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
}

@font-face {
	font-family: "Lexend-Deca";
	src: url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
	font-weight: 400;
}

// General styles
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	font-family: Inter;
}

%flexbox {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

%ff-Lexend-Deca {
	font-family: "Lexend-Deca";
}

// Styles
main {
	max-width: 100%;
	min-height: 100vh;
	background-color: $clr-dark-blue;
	@extend %flexbox;
	justify-content: center;
	align-items: center;
	.stats-preview-card {
		@extend %flexbox;
		max-width: 60%;
		border-radius: 1rem;
		.stats-content {
			background-color: $clr-desaturated-blue;
			width: 50%;
			padding: 4.5rem 6rem 3rem 4.5rem;
			border-radius: 1rem 0rem 0rem 1rem;
			.title {
				color: $clr-transparent-white-main;
				font-size: 2.4em;
				.insights {
					color: $clr-soft-violet;
				}
			}
			.description {
				color: $clr-transparent-white-paragraph;
				margin: 2rem 0rem 4.5rem 0rem;
				font-size: 1.1em;
			}
			.stats-number {
				@extend %flexbox;
				justify-content: space-between;
				.stat {
					.number {
						color: $clr-white;
						font-size: 1.5em;
						font-weight: 700;
					}
					.name {
						color: $clr-transparent-white-paragraph;
						text-transform: uppercase;
					}
				}
			}
		}
		.image {
			width: 50%;
			background-color: $clr-soft-violet;
			// border-radius: 0rem 1rem 1rem 0rem;
			img {
				width: 100%;
				border-radius: 0rem 1rem 1rem 0rem;
				opacity: 0.6;
				height: 100%;
			}
		}
	}
}

@media screen and (max-width: 1600px) {
	html {
		font-size: 90%;
		.stats-preview-card {
			.stats-content {
				padding: 2rem 4rem 2rem 2.5rem;
				.description {
					margin: 1rem 0rem 2.5rem 0rem;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	html {
		font-size: 80%;
	}
}

@media screen and (max-width: 1030px) {
	html {
		// font-size: 100%;
		main {
<<<<<<< HEAD
			// min-height: 100vh;
			.stats-preview-card {
				flex-direction: column-reverse;
=======
			.stats-preview-card {
				flex-direction: column-reverse;
				max-width: 50%;
>>>>>>> gh-pages
				.stats-content {
					width: 100%;
					text-align: center;
					border-radius: 0rem 0rem 1rem 1rem;
					.description {
						line-height: 1.5em;
					}
					.stats-number {
						flex-direction: column;
						.stat {
							margin: 1rem 0rem;
						}
					}
				}
				.image {
					width: 100%;
					border-radius: 1rem 1rem 0rem 0rem;
					img {
						border-radius: 1rem 1rem 0rem 0rem;
						display: block;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	html {
		font-size: 80%;
		main {
			height: 100%;
			.stats-preview-card {
				.stats-content {
					.description {
						margin: 1rem 0rem;
					}
					.stats-number {
						.stat {
							margin: 0.8rem 0rem;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 576px) {
	html {
		font-size: 50%;
		main {
			.stats-preview-card {
				max-width: 80%;
				.image {
					// width: 100%;
					// img {
					//     width: 100%;
					// }
				}
			}
		}
	}
}
